{% extends 'base.html.twig' %}

{% block body %}


<div class="row">
    <div class="col text-center" >
    <h1> Modifier un contact </h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button type="submit" class="fa fa-pencil"></button>
    {{ form_end(edit_form) }}

        <ul class="list-group">
            <li class="list-group-item align-items-center">
            <a href="{{ path('contact_index') }}" class="">back-office</a>

        </li>
            <li class="list-group-item align-items-center">
            {{ form_start(delete_form) }}
            <button type="submit"  class="fa fa-trash-o"> </button>
            {{ form_end(delete_form) }}
        </li>
    </ul>

    </div>
</div>
{% endblock %}

